<li>
    <div class="border border-light p-2">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{this.title}}</h5>
            <small>
                <div>
                    <!--input type="checkbox" data-id={{_id}} class="star glyphicon glyphicon-star-empty"-->
                    <!--span class="star glyphicon glyphicon-star-empty" aria-hidden="true"></span-->
                    <label for={{_id}} class="custom-checkbox">
                        <input type="checkbox" class="checkfavorite" id={{_id}} data-id={{_id}} {{#if favorite}}checked{{/if}}/>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                </div>

            </small>
        </div>
        <a href={{link}}>{{link}}</a>
        <p class="mb-1">{{abstract}}</p>
        <form class="create-form" data-id={{_id}}>
            <textarea class="form-control" data-id={{_id}}></textarea>
            <button type="submit" data-id={{_id}}>add</button>
        </form>
        <div class="panel panel-default">
            <div class="panel-heading active" role="tab" id={{panelHeading}}>
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href={{collapseIdRef}}
                        aria-expanded="true" aria-controls={{collapseId}}>
                        notes
                    </a>
                </h4>
            </div>
            <div id={{collapseId}} class="panel-collapse collapse in" role="tabpanel" aria-labelledby={{panelHeading}}>
                <div class="panel-body">
                    {{#notes}}
                    {{> note-block}}
                    {{/notes}}
                </div>
            </div>
        </div>

    </div>
</li>